body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    width: 250px;
    background-color: rgb(219, 219, 237);
    border-radius: 23px;
    box-shadow: 0 0 10px(rgb(0, 0, 0.1));
    padding: 20px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
}

#display {
    width: 230px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: right;
    padding: 7px;
    border: 3px solid #fff;
    background-color: rgba(211, 219, 224, 0);
}

.button {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.btn {
    padding: 10px;
    margin-right:2px;
    margin-bottom: 5px;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
}

.btn:active {
    background-color: #ddd;
}

.operator {
    background-color: #f9a825;
}

.operator:active {
    background-color: #e53935;
}

.clear {
    grid-column: span 4;
    background-color: #e53935;
    color: white;
    width: 100%;
}

.clear:active {
    background-color: #c62828;
}